.forgotPass-container {
  background-color: #FFD166; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgotPass-form {
  width: 400px; 
  margin: auto; 
  padding: 40px; 
  background-color: #ffffff; 
  border-radius: 10px; 
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
}

.forgotPass-input {
  width: 100%; 
  margin-bottom: 15px;
  border: 1px solid #cccccc; 
  border-radius: 5px; 
  padding: 10px;
  box-sizing: border-box;
  text-align: center; 
  outline: none; 
}

.forgotPass-input:focus {
  border-color: #FFD166; 
}

.forgotPass-button {
  width: 100%;
  background-color: #FFD166; 
  color: #ffffff; 
  border: none;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
}

.forgotPass-button:hover {
  background-color: #FFCC33; 
}

.forgotPass-message {
  margin-top: 10px;
  color: red; 
}

.forgotPass-back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #007bff; 
  text-decoration: underline;
}