.signIn-container {
  background-color: #FFD166; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.signIn-form {
  width: 400px; 
  margin: auto; 
  padding: 40px; 
  background-color: #ffffff; 
  border-radius: 10px; 
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
}

.signIn-input {
  width: 100%; 
  margin-bottom: 15px;
  border: 1px solid #cccccc; 
  border-radius: 5px; 
  padding: 10px;
  box-sizing: border-box;
  text-align: center; 
  outline: none; 
}

.signIn-input:focus {
  border-color: #FFD166; 
}

.signIn-form h1 {
  text-align: center;
}

.signIn-button {
  width: 100%;
  background-color: #FFD166; 
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
}

.signIn-button:hover {
  background-color: #FFCC33; 
}

.signIn-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.forgot-password,
.sign-up {
  text-decoration: none;
  color: #007bff; 
}

.forgot-password:hover,
.sign-up:hover {
  text-decoration: underline;
}