/* ToDo.css */

body {
  background-color: #FFD166; 
}

.todo-container {
  padding: 20px;
  margin: 20px auto; 
  max-width: 600px; 
  border: 1px solid #FFD166;
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  background-color: #FFD166; 
  height: 100vh;
}

.todo-input {
  margin-bottom: 20px;
  text-align: center;
}

.add-button {
  margin-bottom: 20px;
}

.completed-task {
  text-decoration: line-through;
}

ion-item ion-checkbox {
  margin-right: 20px;
}

ion-item ion-button {
  margin-left: auto;
}

.todo-container h1 {
  text-align: center;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  background-color: #FFD166;
  padding: 10px 0;
}

.footer-buttons ion-button {
  margin: 0 10px; 
}